/cmake-build-debug-mingw/.cmake/api/v1/query/cache-v2
/cmake-build-debug-mingw/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-mingw/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-mingw/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-mingw/.cmake/api/v1/reply/cache-v2-7062a697b2624cdf3d15.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/cmakeFiles-v1-2a87c0b93bbbe8966d3f.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/codemodel-v2-30469e7e7635545a14a5.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/index-2024-01-31T14-24-43-0995.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/target-simple_compress-Debug-081cd7f7cb71eb036cdb.json
/cmake-build-debug-mingw/.cmake/api/v1/reply/toolchains-v1-ea77871f488f6989f8ca.json
/cmake-build-debug-mingw/CMakeFiles/3.26.4/CompilerIdC/a.exe
/cmake-build-debug-mingw/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-mingw/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug-mingw/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-mingw/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/cmake-build-debug-mingw/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug-mingw/CMakeFiles/simple_compress.dir/main.c.obj
/cmake-build-debug-mingw/CMakeFiles/clion-Debug-MinGW-log.txt
/cmake-build-debug-mingw/CMakeFiles/clion-environment.txt
/cmake-build-debug-mingw/CMakeFiles/cmake.check_cache
/cmake-build-debug-mingw/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug-mingw/CMakeFiles/rules.ninja
/cmake-build-debug-mingw/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-mingw/Testing/Temporary/LastTest.log
/cmake-build-debug-mingw/.ninja_deps
/cmake-build-debug-mingw/.ninja_log
/cmake-build-debug-mingw/build.ninja
/cmake-build-debug-mingw/cmake_install.cmake
/cmake-build-debug-mingw/CMakeCache.txt
/cmake-build-debug-mingw/simple_compress.exe
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/simple_compress.iml
/.idea/vcs.xml
